/* font styling */
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

#sidebar-profile {
  background: #1f1f1f;
  padding: 20px;
  height: 100%;
  width: 250px;
  box-sizing: border-box;
  position: fixed; 
}

#sidebar-profile button {
  display: flex;
  align-items: center;
  background: #555;
  color: #fff;
  border: none;
  padding: 15px 20px;
  margin: 15px 10px; /* Adjusted margin */
  text-align: center;
  text-decoration: none;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  cursor: pointer;
  outline: none;
  width: calc(    100% - 20px ); 
}

#sidebar-profile button.button-home:hover,
#sidebar-profile button.button-contact-us:hover,
#sidebar-profile button.button-about:hover,
#sidebar-profile button.button-upload:hover, 
#sidebar-profile button.button-logout:hover {
  background-color: #95e214;
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 15px #95e214;
  text-align: center;
}

#sidebar-profile button i {
  float: left;
  margin-right: 10px; /* Add some spacing between the icon and the text */
  width: 20px; /* Fixed width for all icons */
}

#sidebar-profile button span {
  display: inline-block;
  padding-left: 5px;
}

/* Move the box-shadow property to a more specific selector */
#sidebar-profile button.button-hall-of-fame:hover {
  font-weight: bold;
  color: black;
  box-shadow: 0 0 10px #ffd700; /* Add box shadow for glow effect */
  background-color: #ffd700;
  text-align: center;
}

#sidebar-profile button.button-profile:hover {
  font-weight: bold;
  color: black;
  box-shadow: 0 0 10px #cc00ff; /* Add box shadow for glow effect */
  background-color: #cc00ff;
  text-align: center;
}

#main-content {
    padding: 20px;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profile-details {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-details h1 {
    margin-bottom: 10px;
    color: #333;
}

.profile-details p {
    margin: 5px 0;
    color: #555;
}

.user-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    flex: 0 1 calc(33.333% - 10px); /* Adjust based on the desired number of posts per row */
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex-grow: 1;
}

.view-code-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.view-code-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-details {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Add margin at the bottom */
  }
  
  .profile-icon {
    border-radius: 50%; /* Make it round */
    background-color: #ccc; /* Grey background */
    padding: 15px; /* Add some padding */
    margin-right: 30px; /* Add margin between icon and text */
  }
  
  .profile-icon i {
    color: white; /* Icon color */
    font-size: 24px; /* Adjust icon size */
  }
  
  .download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%);
}

.download svg polyline, .download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0%);
    }
}


/*------ Settings ------*/
.container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .container .expand {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .container .compress {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .expand {
    display: none;
  }
  
  .container input:checked ~ .compress {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
  }


  /* POPUP SELECTOR PART */
  /* The design is inspired from the mockapi.io */
  .popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, .15);
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: .3s;
    --burger-transition: all .1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: .95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, .2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: .8;
    --nav-active-scale: 1;
    --nav-position-left: unset;
    --nav-position-right: 0;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 12px;
    --nav-button-hover-bg: #6495ed;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
  }
  
  /* popup settings 👆 */
  
  .popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
  }
  
  .popup input {
    display: none;
  }
  
  .burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
  }
  
  .burger span {
    height: var(--burger-line-height);
    width: var(--burger-line-width);
    background: var(--burger-color);
    border-radius: var(--burger-line-border-radius);
    position: absolute;
    transition: var(--burger-line-transition);
  }
  
  .burger span:nth-child(1) {
    top: var(--burger-offset);
  }
  
  .burger span:nth-child(2) {
    bottom: var(--burger-offset);
  }
  
  .burger span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Modify the popup-nav styles */
  .popup-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: var(--nav-position-right);
    left: var(--nav-position-left);
    top: var(--nav-position-top);
    width: var(--nav-width);
    height: var(--nav-height);
    padding: var(--nav-padding-y) var(--nav-padding-x);
    transition: var(--nav-transition);
    border-radius: var(--nav-border-radius);
    border: var(--nav-border-width) solid var(--nav-border-color);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    background-color: var(--nav-bg);
    font-family: var(--nav-font-family);
    z-index: 1000;
    transform: scale(var(--nav-default-scale));
    transform-origin: top left; /* Change the origin to top right */
    visibility: hidden;
    overflow: hidden;
    max-width: var(--nav-max-width);
  }
  
  .popup-nav.popup-nav--open {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    height: var(--nav-full-height);
    border-radius: 0;
  }
  
  .popup-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: var(--nav-item-padding);
    margin-bottom: var(--nav-item-margin-bottom);
    transition: background-color .2s ease-in-out;
    font-size: var(--nav-font-size);
    color: var(--nav-text-color);
  }
  
  .popup-nav__item:hover {
    background-color: var(--nav-hover-bg);
  }
  

.popup-window {
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--nav-text-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
  left: var(--nav-position-left);
  right: var(--nav-position-right);
  transition: var(--burger-transition);
  
}

.popup-window legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}

.popup-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-window ul button {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
  color: cornflowerblue;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
  color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
  color: red;
}

.popup-window hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}

.burger:hover {
  transform: scale(var(--burger-hover-scale));
}

.burger:active {
  transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
  transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-details { /* New CSS for aligning post details */
    display: flex;
    flex-direction: column;
  }


  .profile-textarea {
    width: 100%;
    box-sizing: border-box;
  }
  
  .postsave-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;

    padding: 20px;
    background-color: #bababa;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #bababa;
    text-align: center;
  }
  
  #save-form {
    width: 100%; /* makes the form occupy the entire screen width */
    max-width: 1500px; /* Limit the maximum width of the form */
    /* can add maximum height for height of window */
    margin-bottom: 20px;
  }

  
  .postsave-title {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center; /* Center the text within the label */
  }
  
  .remember-me {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: left; /* Center the text within the label */
  }
  
  postsave label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left; /* Center the text within the label */
  }
  postsave input[type="text"],
  postsave input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
  }