/* font styling */
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

/* from:
    https://fonts.google.com/specimen/Arvo */

/* Basic styling */
body {
  background-color: #dad6d6;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #333;
}

button {
  font-size: 20px;
}

header {
  background-color: #343a40; /* Dark gray header background */
  color: #ffffff; /* White text */
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 24px; /* Adjust the font size as needed */
  margin: 0;
}

.login a {
  color: #ffffff; /* White text for login link */
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid #ffffff; /* White border */
  border-radius: 20px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s;
}

.login a:hover {
  background-color: #ffffff; /* White background on hover */
  color: #343a40; /* Dark gray text on hover */
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  /*background-color: #ffffff; /* Dark gray background for navbar */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff; /* White text for navbar links */
  padding: 15px 20px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #495057; /* Darker gray background on hover */
}

/* LOGIN PAGE STYLING */

.login-body {
  background-color: #1f1f1f;
}

form {
  max-width: 500px; 
  margin: 20px auto;
  margin-top: 180px;
  padding: 20px;
  background-color: #bababa;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #bababa;
  text-align: center;
}

.form-title {
  display: block;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  text-align: center; /* Center the text within the label */
}

.remember-me {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: left; /* Center the text within the label */
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: left; /* Center the text within the label */
}
form input[type="text"],
form input[type="password"] {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

.button_login {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid #000;
}
.button_login:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button_login:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button_login:hover {
  color: #fff;
}
.button_login:hover:before {
  width: 100%;
}




/* SIGNUP PAGE STYLING */

.signup-body {
  background-color: #1f1f1f;
}
.button_signup {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.signup-body {
  background-color: #1f1f1f;
}
.button_signup {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid #000;
}
.button_signup:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button_signup:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button_signup:hover {
  color: #fff;
}
.button_signup:hover:before {
  width: 100%;
} 

/* need to create a better effect for on-hover buttons. 
   low priority issue.
*/
.signup-button:hover {
  background-color: #0aefff;
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 15px #0aefff;
}

/* styling for upload page */
#submission-form {
  width: 100%; /* makes the form occupy the entire screen width */
  max-width: 1500px; /* Limit the maximum width of the form */
  /* can add maximum height for height of window */
  margin-bottom: 20px;
}

#html {
  width: 100%; /* Make the textarea occupy 100% of its container */
}

#submission-status {
  margin-top: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.form-group {
  flex: 1;
  margin-right: 10px;
  width: 50%
}

.output-box{
  flex: 1;
  margin-right: 10px;
  width: 50%
}

.form-textarea {
  width: 100%;
  box-sizing: border-box;
}

.output-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.output-frame {
  flex: 1;
  border: 4px solid black;
  width: 100%;
  height: 100%;
}

.display-button,
.upload-button {
  width: 48%;
}








/* styling for landing page */

#sidebar button i {
  margin-right: 10px; /* Adjust the value to increase or decrease the space */
}

#sidebar {
  background: #1f1f1f;
  padding: 20px;
  height: 100%;
  width: 250px;
  box-sizing: border-box;
  position: fixed; /* Keeps the sidebar fixed during scrolling */
}
#sidebar button {
  display: flex;
  align-items: center;
  background: #555;
  color: #fff;
  border: none;
  padding: 15px 20px;
  margin: 15px 10px; /* Adjusted margin */
  text-align: center;
  text-decoration: none;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  cursor: pointer;
  outline: none;
  width: calc(    100% - 20px ); 
}

#sidebar button.button-home:hover,
#sidebar button.button-contact-us:hover,
#sidebar button.button-about:hover,
#sidebar button.button-upload:hover, 
#sidebar button.button-logout:hover {
  background-color: #95e214;
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 15px #95e214;
  text-align: center;
}

#sidebar button i {
  float: left;
  margin-right: 10px; /* Add some spacing between the icon and the text */
  width: 20px; /* Fixed width for all icons */
}

#sidebar button span {
  display: inline-block;
  padding-left: 5px;
}

/* Move the box-shadow property to a more specific selector */
#sidebar button.button-hall-of-fame:hover {
  font-weight: bold;
  color: black;
  box-shadow: 0 0 10px #ffd700; /* Add box shadow for glow effect */
  background-color: #ffd700;
  text-align: center;
}

#sidebar button.button-profile:hover {
  font-weight: bold;
  color: black;
  box-shadow: 0 0 10px #cc00ff; /* Add box shadow for glow effect */
  background-color: #cc00ff;
  text-align: center;
}

.button-login {
  position: static;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
  margin: 15px 10px; /* Adjusted margin */
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#sidebar button.button-login:hover {
  background-color: #0aefff;
  box-shadow: 0px 0px 15px #0aefff;
  color: black;
  font-weight: bold;
}

.button-signup {
  position: static;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
  margin: 15px 10px; /* Adjusted margin */
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#sidebar button.button-signup:hover {
  background-color: #0aefff;
  box-shadow: 4px 4px 15px #0aefff;
  color: black;
  font-weight: bold;
}

main {
  margin-left: 250px; /* Offset for the sidebar */
  padding: 20px;
  font-size: 18px;
}

/* styling for hall of fame page */

.mb-4 {
  text-align: center;
}

.carousel-item {
  width: 1000px;
  height: 750px;
  margin: auto;
  background-color: #1f1f1f; /* Fallback color */
}
#main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  background-color: #f4f4f4;
}

.profile-actions button {
  position: static;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
  margin: 15px 10px; /* Adjusted margin */
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#sidebar button.button-edit:hover {
  background-color:whitesmoke;
  box-shadow: 4px 4px 15px whitesmoke;
  color: black;
  font-weight: bold;
}
#sidebar button.button-logout:hover{
  background-color: red;
  box-shadow:4px 4px 15px red;
  color:black;
  font-weight:bold;
}

.profile-details p {
  font-size: 16px;
  line-height: 1.6;
}
.user-posts {
  margin-top: 20px;
}


/* Styling for steps with a more engaging look */
.step {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  list-style: none;

}

/* Style for step headings with emphasis */
.step h3 {
  font-size: 26px;
  color: #007bff;
  margin-bottom: 15px;
}

/* Style for step text with improved readability */
.step-text p {
  font-size: 16px;
  color: #555;
}

/* Style for step images with responsive design */
.step-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Clearfix for floated elements */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Style the container for the first iframe */
#iframe-section1 .iframe-container {
  overflow: hidden; /* Hide overflow content */
  position: relative; /* Set position to relative */
  width: 100%; /* Adjust width as needed */
  height: 480px; /* Adjust height as needed */
}

/* Style the first iframe */
#iframe-section1 .iframe-container iframe {
  position: absolute; /* Set position to absolute */
  top: -200px; /* Adjust the top position to crop off the top part */
  left: 0;
  width: 100%; /* Set iframe width to 100% */
  height: calc(100% + 230px); /* Adjust height to include the cropped part */
  border: none; /* Remove default iframe border */
  pointer-events: none; /* Disable user interaction */
}

/* Style the container for the second iframe */
#iframe-section2 .iframe-container {
  width: 100%;
  height: 760px; /* Set the desired height for the second iframe container */
  overflow: hidden; /* Hide overflow content */
  position: relative; /* Set position to relative */
}

/* Style the second iframe */
#iframe-section2 .iframe-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px; /* Adjust the top position to crop off the top part if needed */
  border: none; /* Remove default iframe border */
  pointer-events: none; /* Disable user interaction */
}



/* Styles for the navigation bar */
.navbar {
  background-color: #343a40; /* Dark gray background */
  color: #ffffff; /* White text */
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: #ffffff; /* White text for navbar links */
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #495057; /* Darker gray background on hover */
}

/* Style for the active link */
.navbar .active {
  background-color: #0aefff; /* Light blue background for active link */
  color: black; /* Black text for active link */
  font-weight: bold; /* Bold font for active link */
}


/* Style for Step 2 */
.step:nth-child(2) {
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.step:nth-child(2) h3 {
  font-size: 24px; /* Adjust font size */
  color: #007bff; /* Blue color for heading */
}

.step:nth-child(2) .step-text {
  font-size: 16px; /* Adjust font size */
  color: #555; /* Dark gray color for text */
}

.step:nth-child(2) .dot-list {
  list-style-type: disc;
  margin-left: 20px; /* Adjust as needed */
  margin-top: 10px; /* Add some top margin */
}

.step:nth-child(2) .dot-list li {
  margin-bottom: 10px; /* Add spacing between each list item */
}
