<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="style.css" type="text/css">
        <title>Name would be here</title>
    </head>
    <body>
        <div id="sidebar">
            <div>
                <!-- Might be better to implement ID's instead of classes here.  -->
                <button class="button-home"><i class="fa fa-home" style="font-size:20px"></i>Home</button>
                <button class="button-contact-us"><i class="fas fa-phone"></i>Contact Us</button>
                <button class="button-about"><i class="fas fa-lightbulb"></i>About</button>
                <button class="button-upload" onclick="window.location.href='upload.html'"><i class="fas fa-upload"></i>Upload</button>
            </div>
            <div class="bottom-button-container"> <!-- This div will be pushed to the bottom -->
                <button class="button-login" onclick="window.location.href='login.html'">
                    <i class="fas fa-user" style="font-size: 20px;"></i>
                    Login/ Sign Up
                </button>
            </div>
        </div>
    </div>
    
    <main>
        <h1>Welcome to Our Site!</h1>
        <!-- Redundant text to visualise how the "about us" section would look with current font -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ad perspiciatis hic beatae quisquam veniam labore odit maxime nostrum quibusdam, sint, officiis ducimus quae iusto explicabo voluptatem voluptatibus eos eius dignissimos!
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ad perspiciatis hic beatae quisquam veniam labore odit maxime nostrum quibusdam, sint, officiis ducimus quae iusto explicabo voluptatem voluptatibus eos eius dignissimos!
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ad perspiciatis hic beatae quisquam veniam labore odit maxime nostrum quibusdam, sint, officiis ducimus quae iusto explicabo voluptatem voluptatibus eos eius dignissimos!
        </p>
        <br>
        
        
    </main>
</body>
</html>
