<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Name would be here</title>

</head>

<body>
    <div id="sidebar">
        <div>
        <button class="button"><i class="fa fa-home" style="font-size:20px"></i>Home</button>
        <button class="button">Contact Us!</button>
        <button class="button">About</button>
        </div>
        <div class="bottom-button-container"> <!-- This div will be pushed to the bottom -->
            <button class="loginButton" onclick="window.location.href='https://teaching.csse.uwa.edu.au/units/CITS3002/schedule.php'"><img src="html5.png" alt="Login" width="12" height="12"> Login</button><!-- Placeholder link, need to be replaced to actual login page link.-->
            
        </div>
    </div>
    
    </div>
    
    <main>
        <h1>Welcome to Our Site!</h1>
        <p>This is a placeholder for our content. Customize it according to our needs.</p>
                                                              
    </main>
</body>
</html>
