<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SPYDERWEB</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

  <div id="sidebar">
    <div>
      <button class="button-home" onclick="scrollToTop()">
        <i class="fa fa-home"></i><span>Home</span>
      </button>
      <button class="button-about" onclick="scrollToBottom()">
        <i class="fas fa-lightbulb"></i><span>About</span>
      </button>
      <button class="button-upload" onclick="window.location.href='/upload'">
        <i class="fas fa-upload"></i><span>Upload</span>
      </button>
      <div class="fame">
        <button class="button-hall-of-fame" onclick="window.location.href='/gallery'">
          <i class="fas fa-images"></i><span>Gallery</span>
        </button>
      </div>
    </div>
    <div class="bottom-button-container">
      <!-- Show profile button if user is logged in -->
      {% if current_user.is_authenticated %}
      <button class="button-profile" onclick="window.location.href='/profile'">
        <i class="fas fa-user"></i>
        Profile
      </button>
      <button class="button-logout" onclick="window.location.href='{{ url_for('logout') }}'">
        <i class="fas fa-sign-out-alt"></i><span>Logout</span>
      </button>
      {% else %}
      <!-- Show signup and login buttons if user is not logged in -->
      <button class="button-signup" onclick="window.location.href='/signup'">
        <i class="fas fa-user"></i>
        Sign up
      </button>
      <button class="button-login" onclick="window.location.href='/login'">
        <i class="fas fa-user"></i>
        Login
      </button>
      {% endif %}
    </div>
  </div>

  {% extends "base.html" %}

  {% block content %}

  <main>

    {% if current_user.is_authenticated %}
    <h1 style="font-size: 2.5rem;">Hi, {{ current_user.username }}!</h1><br>
    {% else %}
    <h1 style="font-size: 2.5rem;">Welcome to Spyderweb</h1><br>
    {% endif %}
    <p>Join our community and start engaging in discussions, sharing your creations, and exploring the world of gaming!
    </p><br>
    <!-- Mini Tutorial Section -->
    <section id="mini-tutorial">
      <h2>How to use the website:</h2><br>

      <!-- Step-by-Step Instructions -->
      <ol class="steps">
        <li class="step">
          <h3>Step 1: Develop your HTML/CSS code with our online live editor</h3>
          <div class="step-text">
            <p>Add your HTML and CSS code in the live editor provided on our website to create your desired designs.</p><br>
          </div>
          <!-- Iframe Section -->
          <section id="iframe-section1">
            <!-- Container for the first iframe -->
            <div class="iframe-container">
              <!-- Iframe with cropped top part -->
              <iframe src="{{ url_for('static', filename='assets/html/preview.html') }}"
                title="Live Editor Preview"></iframe>
            </div>
          </section>
        </li>
        <br>
        <li class="step">
          <h3>Step 2: Upload your code</h3>
          <div class="step-text">
            <ul class="dot-list"> <!-- Change ol to ul -->
              <li>Ensure your HTML and CSS files are ready.</li>
              <li>Click on the "Upload" button in the sidebar.</li>
              <li>Fill in any relevant details, such as tags or descriptions, in the upload form.</li>
              <li>Choose your HTML and CSS files using the file input fields provided in the form.</li>
              <li>Submit the form to upload your code to our platform.</li>
            </ul>

          </div>

        </li>
        <br>
        
        <li class="step">
          <h3>Step 3: View your code on your profile/gallery page</h3>
          <div class="step-text">
            <p>Access your uploaded code on your profile or gallery page to showcase it to others.</p><br>
          </div>
          <!-- Iframe Section -->
          <section id="iframe-section2">
            <!-- Container for the second iframe -->
            <div class="iframe-container">
              <!-- Iframe with cropped top part -->
              <iframe src="{{ url_for('static', filename='assets/html/preview4.html') }}"
                title="Live Editor Preview" ></iframe>
            </div>
          </section>
        </li>
        <br>
        <li class="step">
          <h3>Step 4: Watch your code gain in popularity</h3>
          <div class="step-text">
            <ul>
              <li>Keep track of how popular your code is by monitoring the likes and views it receives from our users.</li>
              <li>See how your work is appreciated and understand its impact.</li>
              <li>Stay informed about your coding achievements as they inspire and help others.</li>
            </ul>
          </div>
        </li>
        <br>
      </ol>
    </section>
    <section id="about-us">
      <div class="container">
        <div class="about-content">
          <article class="about-post">
            <h3 style="font-size: 2.5rem;">Why We Built This App</h3><br>
            <p>Welcome to our creative space where students and creators can effortlessly find native HTML and CSS designs.
              We built this app because we believe that:<br><br>
            <ul>
              <li>Sometimes, you just need a cool-looking button, an elegant element, or even a complete template for a
                landing page without diving deep into Bootstrap or other frameworks.</li><br>
              <li>Our goal is to provide quick access to beautiful, native designs that you can easily integrate into your
                projects.</li>
            </ul>
            </p>
            <p>Whether you're a student learning the ropes of web development or a seasoned creator looking for inspiration,
              our app is here to make your design process smoother and more enjoyable:<br><br>
            <ul>
              <li>No more searching endlessly for the perfect snippet or compromising on design quality.</li><br>
              <li>With our curated collection of HTML and CSS elements, you can bring your ideas to life quickly and with
                style.</li>
            </ul>
            </p>
            <p>Join our community and discover how simple and fun web design can be when you have the right tools at your
              fingertips!</p>
          </article>
        </div>
      </div>
    </section>


    <!-- JavaScript for smooth scrolling -->
    <script>
      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      }

      function scrollToBottom() {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: 'smooth'
        });
      }
    </script>
    {% endblock %}



    <!-- Redundant text to visualize how the "about us" section would look with the current font -->


  </main>



</body>

</html>
