<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/profile.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />
</head>
<body>

    <div id="sidebar-profile">
        <button class="button-home" onclick="window.location.href='/index'">
            <i class="fa fa-home"></i><span>Home</span>
        </button>

        <button class="button-upload" onclick="window.location.href='/upload'">
            <i class="fas fa-upload"></i><span>Upload</span>
        </button>
        <div class="fame">
            <button class="button-hall-of-fame" onclick="window.location.href='/gallery'">
                <i class="fas fa-images"></i><span>Gallery</span>
            </button>
        </div>
    </div>

    <div id="main-content">
      <h1>Profile</h1>

      <div class="profile-details">
        <div class="profile-icon"> <!-- Add div for the profile icon -->
          <i class="fas fa-user"></i> <!-- Add the user icon -->
        </div>
        <div class="profile-text"> <!-- Added a wrapper div -->
          <p><strong>Username:</strong> {{ current_user.username }}</p>
          <p><strong>Email:</strong> {{ current_user.email }}</p> 
        </div>
      </div>
      <h2>Your Posts</h2> <!-- Moved this line above the loop -->

      <div class="user-posts">
        {% for post in posts %}
        <div class="col">
          <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="post-details" >
              <h5 class="card-title">Post by {{ post.author.username }}</h5>
              <p class="card-text">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
          
            <label class="popup">
              <input type="checkbox">
              <div class="burger" tabindex="0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <br/>

              <nav class="popup-window">
                <legend>Actions</legend>
                <ul class="post-options">

                  <li>
                    <button onclick="downloadTextFile('{{ loop.index0 }}')">
                      <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                        <rect ry="2" rx="2" height="13" width="13" y="9" x="9"></rect>
                        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                      </svg>
                      <span>Download</span>
                    </button>
                  </li>
                  <li>
                    <button onclick="openEditModal('{{ loop.index0 }}', '{{ post.id}}')">
                      <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                      </svg>
                      <span>View</span>
                    </button>
                  </li>
                  <hr>
                  <li>
                    <button id="deleteButton" type="button" onclick="confirmDelete('{{ post.id}}')">
                      <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                        <line y2="18" x2="6" y1="6" x1="18"></line>
                        <line y2="18" x2="18" y1="6" x1="6"></line>
                      </svg>
                      <span>Delete</span>
                    </button>
                  </li>
                </ul>
              </nav>
            </label>
          </div>
          
          <div class="card h-100 bg-secondary text-white">
            <div class="card-body" style="width:100%; height: 200px">
              <iframe sandbox="allow-same-origin allow-scripts" style="width:100%; height: 100%;"
                srcdoc="{{ post.body|safe }}"></iframe>
            </div>
          </div>
        </div>
      
        <div class="full-post-content" id="full-post-content-{{ loop.index0 }}" style="display: none">
            <pre><code>{{ post.body | safe }}</code></pre>
        </div>

        <div id="postModal" class="modal">
          <div class="modal-content">
            <div class="upload-container">
              <span class="close" onclick="closeModal()">&times;</span>
                <h1 class="upload-header">View or run your HTML/CSS CODE</h1>
                    <input type="hidden" id="postId" name="postId" value="">
                    <div class="flex-container">
                        <div class="form-group">
                            <label>HTML <i class="bx bxl-html5"></i></label>
                            <textarea
                                id="HtmlCode" 
                                name="HtmlCode"
                                rows="10"
                                cols="50"
                                class="profile-textarea"
                                readonly

                            >{{ post.html_content }}</textarea>
        
                            <label></label>CSS <i class="bx bxl-css3"></i></label>
                            <textarea
                                id="CssCode" 
                                name="CssCode"
                                rows="10"
                                cols="50"
                                class="profile-textarea"
                                readonly
                            >{{ post.css_content }}</textarea>
                        </div>
        
                        <div class="output-box">
                            <label>Output</label>
                            <iframe id="output-frame" class="output-frame"></iframe>
                        </div>
                    </div>
                    <p id="submission-status" class="submission-status"></p>

            </div>

          </div>
        </div>

        {% endfor %}
      </div>
      
      <script src="{{ url_for('static', filename='downloadfile.js') }}"></script>
</body>
</html>
