<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/profile.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'/>

  </head>
<body>

    <div id="sidebar">
        <button class="button-home" onclick = "window.location.href = '{{ url_for('index')}}'">
            <i class="fa fa-home"></i><span>Home</span>
        </button>
    
        <button class="button-about">
            <i class="fas fa-lightbulb"></i><span>About</span>
        </button>

        <button class="button-contact-us">
            <i class="fas fa-phone"></i><span>Contact Us</span>
        </button>

        <button class="button-upload" onclick="window.location.href='/upload'">
            <i class="fas fa-upload"></i><span>Upload</span>
        </button>
        <div class="fame">
            <button class="button-hall-of-fame" onclick="window.location.href='/gallery'">
                <i class="fas fa-trophy"></i><span>Hall of Fame</span>
            </button>
        </div>
    </div>

    <div id="main-content">
      <h1>Profile</h1>

      <div class="profile-details">
        <div class="profile-icon"> <!-- Add div for the profile icon -->
          <i class="fas fa-user"></i> <!-- Add the user icon -->
        </div>
        <div class="profile-text"> <!-- Added a wrapper div -->
          <p><strong>Username:</strong> {{ current_user.username }}</p>
          <p><strong>Email:</strong> {{ current_user.email }}</p> 
        </div>
      </div>
      <h2>Your Posts</h2> <!-- Moved this line above the loop -->

      <div class="user-posts">
        {% for post in posts %}
        <div class="col">
          <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="post-details" >
              <h5 class="card-title">Post by {{ post.author.username }}</h5>
              <p class="card-text">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
          
            <label class="popup">
              <input type="checkbox">
              <div class="burger" tabindex="0">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <!-- <p> {{ post.id }}</p> -->
              <nav class="popup-window">
                <legend>Actions</legend>
                <ul class="post-options">
                  <li>
                    <button onclick="downloadTextFile('{{ loop.index0 }}')">
                      <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                        <rect ry="2" rx="2" height="13" width="13" y="9" x="9"></rect>
                        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                      </svg>
                      <span>Download</span>
                    </button>
                  </li>
                  <li>
                    <button onclick="openEditModal('{{ loop.index0 }}', '{{ post.id}}')">
                      <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                      </svg>
                      <span>Edit</span>
                    </button>
                  </li>

                </ul>
              </nav>
            </label>
          </div>
          
          <div class="card h-100 bg-secondary text-white">
            <div class="card-body" style="width:100%; height: 200px">
              <iframe sandbox="allow-same-origin allow-scripts" style="width:100%; height: 100%;"
                srcdoc="{{ post.body|safe }}"></iframe>
            </div>
          </div>
        </div>
      
        <div class="full-post-content" id="full-post-content-{{ loop.index0 }}" style="display: none">
            <pre><code>{{ post.body | safe }}</code></pre>
        </div>

        <div id="postModal" class="modal">
          <div class="modal-content">
            <div class="upload-container">
            <span class="close" onclick="closeModal()">&times;</span>

                <h1 class="upload-header">Edit your HTML/CSS CODE</h1>
                  <form id="save-form" action="{{ url_for('modify') }}" method="get" class="postsave-form">
                    {{ form.hidden_tag() }} 
                    <input type="hidden" id="postId" name="postId" value="">
                      <div class="flex-container">
                          <div class="form-group">
                              <label>HTML <i class="bx bxl-html5"></i></label>
                              {{ form.html(rows="10", cols="50", class="form-textarea", onkeyup="runCode()") }}
          
                              <label></label>CSS <i class="bx bxl-css3"></i></label>
                              {{ form.css(rows="10", cols="50", class="form-textarea", onkeyup="runCode()") }}



          
                  </form>
   
                </form>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
      

      
    <script>
    function downloadTextFile(postIndex) {
       // Get the user-entered text
        const textContent = document.getElementById("full-post-content-" + postIndex).querySelector("code").innerText;
        
        // Create a Blob object containing the text
        const blob = new Blob([textContent], { type: 'text/plain' });

        // Create a temporary anchor element
        const a = document.createElement('a');
        a.href = window.URL.createObjectURL(blob);

        // Set the file name
        const fileName = 'user_input.txt';
        a.download = fileName;

        // Programmatically click the anchor to trigger the download
        document.body.appendChild(a);
        a.click();

        // Clean up
        document.body.removeChild(a);
        window.URL.revokeObjectURL(a.href);
    }

    function saveChanges() {
    // Get the HTML and CSS content
    var htmlContent = document.getElementById("HtmlCode").value;
    var cssContent = document.getElementById("CssCode").value;

    // Populate the hidden input fields with the HTML and CSS content
    document.getElementById("htmlContent").value = htmlContent;
    document.getElementById("cssContent").value = cssContent;
}


  function runCode() {
      let htmlContent = document.getElementById("submission-form").elements["html"].value;
      let cssContent = document.getElementById("submission-form").elements["css"].value;

      let output = document.getElementById("output-frame").contentDocument;
      console.log("Test content\n", '<html><head><style>' + cssContent + '</style></head><body>' + htmlContent + '</body></html>');
      output.open();
      output.write('<html><head><style>' + cssContent + '</style></head><body>' + htmlContent + '</body></html>');
      output.close();

      console.log(output.body.innerHTML);
    }

  function openEditModal(index, id) {
    const postElement = document.getElementById("full-post-content-" + index);
    const postId = id

    const textContent = postElement.querySelector("code").innerText;
    

    console.log("Test content\n", textContent);


    var htmlRegex = /<body.*?>([\s\S]*)<\/body>/; 
    var cssRegex = /<style.*?>([\s\S]*)<\/style>/; 

    var htmlMatch = textContent.match(htmlRegex);
    var cssMatch = textContent.match(cssRegex);

    var htmlPart = htmlMatch ? htmlMatch[1] : ''; 
    var cssPart = cssMatch ? cssMatch[1] : ''; 
    

    // Set the HTML and CSS parts to the text areas in the modal
    document.getElementById('HtmlCode').value = htmlPart;
    document.getElementById('CssCode').value = cssPart;
    document.getElementById('postId').value = postId;

    runCode();
    // Display the modal
    var modal = document.getElementById('postModal');
    modal.style.display = "block";
}

     
    function closeModal() {
      document.getElementById("postModal").style.display = "none";
    }
    
    window.onclick = function (event) {
      var modal = document.getElementById("postModal");
      if (event.target == modal) {
        closeModal();
      }
    };
    
    </script>

</body>
</html>
