{% extends "base.html" %}
{% block content %}
<div class="upload-container">
  <h1 class="upload-header">Upload your HTML</h1>
  <form id="submission-form" action="/upload" method="post" class="upload-form">
    <div class="flex-container">
      <div class="form-group">
        <label>HTML <i class="bx bxl-html5"></i></label>
        <textarea
          onkeyup="runCode()"
          id="html"
          name="html"
          rows="10"
          cols="50"
          class="form-textarea"
        ></textarea>

        <label>CSS <i class="bx bxl-css3"></i></label>
        <textarea
          onkeyup="runCode()"
          id="css"
          name="css"
          rows="10"
          cols="50"
          class="form-textarea"
        ></textarea>
      </div>

      <div class="output-box">
        <label>Output</label>
        <iframe id="output-frame" class="output-frame"></iframe>
      </div>
    </div>
    <p id="submission-status" class="submission-status"></p>

    <div class="output-container">
      <!--<button type="button" onclick="displayHTML()" class="display-button">Display</button>-->
      <button type="submit" class="upload-button">Upload</button>
    </div>
  </form>
</div>

<script>
  function runCode() {
    let htmlContent = document.getElementById("html").value;
    let cssContent = document.getElementById("css").value;

    let output = document.getElementById("output-frame").contentDocument;

    output.open();
    output.write('<html><head><style>' + cssContent + '</style></head><body>' + htmlContent + '</body></html>');
    output.close();

    console.log(output.body.innerHTML);
  }
</script>
{% endblock %}