{% extends "base.html" %}
{% block content %}
<div class="upload-container">
  <h1 class="upload-header">Upload your HTML</h1>
  <form id="submission-form" action="{{ url_for('upload') }}" method="post" class="upload-form">
    {{ form.hidden_tag() }} <!-- CSRF token -->

    <div class="flex-container">
      <div class="form-group">
        <label>HTML <i class="bx bxl-html5"></i></label>
        {{ form.html(rows="10", cols="50", class="form-textarea", onkeyup="runCode()") }}

        <label>CSS <i class="bx bxl-css3"></i></label>
        {{ form.css(rows="10", cols="50", class="form-textarea", onkeyup="runCode()") }}

        <label>Tags</label>
        {{ form.tags(class="form-textarea",placeholder="Enter Your tags") }}
      </div>

      <div class="output-box">
        <label>Output</label>
        <iframe id="output-frame" class="output-frame"></iframe>
      </div>
    </div>
    <p id="submission-status" class="submission-status"></p>

    <div class="output-container">
      {{ form.submit(class="upload-button") }}
    </div>
  </form>
</div>

<script>
  function runCode() {
    let htmlContent = document.getElementById("submission-form").elements["html"].value;
    let cssContent = document.getElementById("submission-form").elements["css"].value;

    let output = document.getElementById("output-frame").contentDocument;

    output.open();
    output.write('<html><head><style>' + cssContent + '</style></head><body>' + htmlContent + '</body></html>');
    output.close();

    console.log(output.body.innerHTML);
  }
</script>
{% endblock %}
